#language: c
language: python

matrix:
  include:
    - os: linux
      python: 3.5

    - os: osx
      sudo: required
      language: generic
      osx_image: xcode6.4

before_install:
   #  - sudo apt-get update
#  - sudo apt-get install libhdf5-serial-dev libqt4-dev
#  - if [[ $TRAVIS_OS_NAME == linux ]]; then sudo apt-get install libc-bin=2.12.1-0ubuntu10.2 libc6=2.12.1-0ubuntu10.2; fi
#  - echo $TRAVIS_TAG
#  - if [ "$TRAVIS_TAG" != "" ]; then echo "bla"; fi
#  - if [[ $TRAVIS_OS_NAME == linux ]]; then wget https://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh -O miniconda.sh; fi
#  - if [[ $TRAVIS_OS_NAME == osx ]]; then wget https://repo.continuum.io/miniconda/Miniconda-latest-MacOSX-x86_64.sh -O miniconda.sh; fi
#  - bash miniconda.sh -b -p $HOME/miniconda
#  - export PATH="$HOME/miniconda/bin:$PATH"
#  - hash -r
#  - git clone https://github.com/maartenbreddels/vaex
#  - cd vaex
#  - conda config --set always_yes yes --set changeps1 no
#  - conda update -q conda
#  - conda info -a
#  - conda create -q -n test-environment python=$PYTHON_VERSION numpy scipy pyqt matplotlib pyopengl h5py numexpr astropy tornado cython
#  - source activate test-environment
  - if [[ $TRAVIS_OS_NAME == 'osx' ]]; then
     brew update;
     brew install python;
     brew install brew install pyqt5 --with-python --without-python3;
     fi
  - if [[ $TRAVIS_OS_NAME == 'linux' ]]; then
     which python;
     echo "activate venv";
     pip install virtualenv;
     virtualenv venv --no-site-packages;
     source venv/bin/activate;
     which python;
     which pip;
     which virtualenv;
     ls venv/bin;
     pip install requests[security];
     ls venv/lib/python3.5;
    fi
  - git clone https://github.com/maartenbreddels/vaex
  - cd vaex
  - pip install --upgrade pip
  - pip install --upgrade matplotlib
  - FILE=`python -c "import matplotlib.backends.backend_tkagg as m; print (m.__file__)"`;
  - rm -f $FILE ${FILE}c;
  - pip install numpy # kapteyn package complaints otherwise
  - pip install -r requirements.txt
install:
 - python bin/make_dropbox_uploader_conf.py ~/.dropbox_uploader
 - curl "https://raw.githubusercontent.com/andreafabrizi/Dropbox-Uploader/master/dropbox_uploader.sh" -o dropbox_uploader.sh
 - pip install -e .
 - if [[ $TRAVIS_OS_NAME == linux ]]; then pip install PyQt5; fi
 - pip install qtconsole appdirs
 - pip install setuptools==19.2
 - pip install requests==2.5.1
script:
# - python test/dataset.py
 - export PACKAGE_NAME=`python -c "import vaex; print(vaex.__build_name__)"`
 - echo $PACKAGE_NAME
 - echo $TRAVIS_OS_NAME
 - if [[ $TRAVIS_OS_NAME == osx ]]; then ls /Users/travis/build/maartenbreddels/vaex-binary/venv/lib/; fi
 - if [[ $TRAVIS_OS_NAME == osx ]]; then echo "release"; bash bin/build_binary_osx.sh; fi
 - export MPLBACKEND=qt5agg
 - if [[ $TRAVIS_OS_NAME == linux ]]; then echo "release"; pip install pyinstaller==3.1; cp misc/vaex.spec .; pyinstaller --hidden-import requests.auth vaex.spec; fi
 - ls build
 - ls dist
 - if [[ $TRAVIS_OS_NAME == osx ]];   then export BINARY_ZIPPED=dist/${PACKAGE_NAME}.zip;    export BINARY_ZIPPED_BARE=${PACKAGE_NAME}.zip; fi
 - if [[ $TRAVIS_OS_NAME == linux ]]; then export BINARY_ZIPPED=dist/${PACKAGE_NAME}.tar.gz; export BINARY_ZIPPED_BARE=${PACKAGE_NAME}.tar.gz; fi
 - if [[ $TRAVIS_OS_NAME == linux ]]; then cd dist; tar zcfv ${PACKAGE_NAME}.tar.gz ${PACKAGE_NAME}; cd ..; fi
 - echo $BINARY_ZIPPED
 - bash dropbox_uploader.sh upload ${BINARY_ZIPPED} ${BINARY_ZIPPED_BARE}


